/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

// Couleur de base
$color-white: #fff;
$color-black: #000;
$color-grey: grey;

// Couleurs du projet
$color-primary: #db61a2; // to change
$color-secondary: #0d1117; // to change
$color-tertiary: #d7dde3; // to change

$color-cta-light: #000; // to change
$color-cta-main: #000; // to change
$color-cta-dark: #000; // to change

$color-bg-primary: #ffffff;
$color-bg-secondary: #000000;

$color-success: #4f8454;
$color-error: #ad5959;
$color-disabled: #d1d5db;
